@import url('../css/reset.css');

body {
    background-color: rgb(218, 213, 213);

}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}


.profile {
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    margin:10px;
    padding: 7px;
}

.userpic {
    width:98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    padding: 1px;
    margin-left: 10px;
}

.user-info {
    margin-left: 20px;
}

.author-name {
    font-size: 26px;
    color:#000;
}

.country-live {
    color:#828282;
    font-size:18px;
}

.fas {
    font-size: 16px;
}

.user-info__skills {
    display:flex;
    justify-content: space-around;
    margin-top:20px;
}

.skills {
    font-size: 16px;
    background-color: rgb(100, 92, 92);
    padding:5px;
    border-radius: 3px;
    color:#fff;
    margin-left: 5px;
    cursor: pointer;
}

.skills:first-child {
    margin-left: 0;
}

.skills:hover {
    color:#000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 1px rgb(100, 92, 92);
}

.my-projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap:15px;
    grid-row-gap:15px;
    border-radius: 10px;
    padding:20px;
    background-color: #fff;
    margin:10px;
}

.projects {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #828282;
    width:200px;
    height: 200px;
}

.projects__1 {
    background-image: url(/img/001.png);
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.projects__1:hover {
    filter:none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .my-projects {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 520px) and (max-width: 768px) {
    .my-projects {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 320px) and (max-width: 520px) {
    .userpic {
        width:50px;
        height: 50px;
    }
    .author-name {
        font-size: 16px;
    }
    .country-live {
        font-size:12px;
    }
    .skills {
        font-size: 14px;
        padding:3px;
    }
    .my-projects {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}